Repository RubyMetric/chsrc, pull requests merged in 2024-10, with the labels that each got.

#101 添加linux，macos下载脚本
  tool/download-release.sh
Labels: Release, Challenge

#102 feat：可指定安装版本
  tool/download-release.sh
  tool/install.sh
Labels: Release, Challenge

#107 Rewrite pwsh script
  tool/install.ps1
Labels: Release, Windows

#109 feat: 自动化linux上docker换源过程
  src/recipe/ware/Docker-Hub.c
Labels: 软件, 改善加强
